html{
  background-color: rgb(30, 51, 69);
}


.container-fluid{
  background-color: rgb(30, 51, 69);
}

input[type='text']{
  background-color: transparent;
  color: white;
}
input[type='text']::placeholder{
  color: rgb(95, 116, 134)
}
input[type='text']:focus{
  background-color: transparent;
  color: white;
}